{% extends 'base.html' %}

{% block title %}
<title>在线json格式化</title>
{% endblock%}

{% block form_area %}

<form  action="/py_json/" method="post">
<h4><B>[json格式化]</B></h4>
{% csrf_token %}
        <textarea class='form-control' type="text" name="q" cols="10" rows="10">{{form_commit}}</textarea>
        <input class="btn btn-default" type="submit" value=">确定>" ><br>结果如下：<br>
		<textarea  class='form-control' type=¡°text" name="rslt" value="" cols="50" rows="10">{{ message }}</textarea>
    </form><br><br><br>
	

{% endblock%}