{% extends 'base.html' %}

{% block title %}
<title>在线post请求</title>
{% endblock%}

{% block form_area %}
<h4><B>[Post请求]</B></h4>

<form  action="/post_req/" method="post">
{% csrf_token %}

        请求url：<br>
		<input type="text" class="form-control" id="firstname" name="qpath"  placeholder="{{path}}" value = "{{path}}"></input><br>

		Body：<br>
		<textarea class='form-control' type="text" name="qbody" cols="100" rows="5" placeholder="{{body}}" >{{body}}</textarea><br>

		<button type="submit" class="btn btn-default">确定</button><br><br>

		返回结果：<br>
		<textarea  class='form-control' type=¡°text" name="rslt" value="" cols="100" rows="30">{{ message }}</textarea>
    </form><br><br>


{% endblock%}